.menuContainerNav--menuOutlet{
    background: #000;
}

.menuContainerNav--menuOutlet .styledLink{
    color: #fff;
}

.menuContainer--whiteMenu .styledLink{
    color: #fff;
    font-size: 15px;
}

.styledLinkContainer--whiteMenu{
    margin: 0px;
}